<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div class="alert alert-danger">
      <h4>Os campos abaixo não podem ficar em branco</h4>

    </div>
  <% end %>


<div class="mb-3">
    <%= form.label 'Nome', :class => 'form-label' %>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>

<div class="mb-3">
    <%= form.label 'Descrição', :class => 'form-label' %>
    <%= form.text_field :description, :class => 'form-control' %>
</div>

<%= form.label 'Prioridade', :class => 'form-label' %>
<%= form.select :priority, [["Baixa", :baixa], ["Média", :media], ["Alta", :alta]], {}, {class: "form-control"} %>

<br>

<div class="mb-3">
    <%= form.label 'Anexar Arquivo', :class => 'form-label' %>
    <%= form.file_field :archive, :class => 'form-control' %>
</div>


<%= form.label 'Data de Conclusão', :class => 'form-label' %>
<%= form.text_field :date, "data-provide" => 'datepicker', class:'form-control input-small ano' %>

  <br>
  <br>

 <%= form.label 'Finalizar Tarefa?', :class => 'form-check-label' %>
 <%= form.check_box :completed, :class => 'form-check-input' %>

   <br>
   <br>

  <div class="col-12">
    <%= form.submit "Criar Todo", :class => 'btn btn-primary' %>
    <%= link_to "Voltar", :back, :class => 'btn btn-primary' %>
  </div>
<% end %>


