<%= form_with(model: task, local: true, id: 'task_form') do |form| %>
  <% if task.errors.any? %>
    <div class="alert alert-danger" >
      <h5>Os campos abaixo não podem ficar em branco</h5>

    </div>
  <% end %>

<div class="card">
<div class="card-content">

<div class="mb-3">
    <%= form.label 'Nome', :class => 'form-label' %>
    <%= form.text_field :name, :class => 'form-control' %>
</div>

<div class="mb-3">
    <%= form.label 'Descrição', :class => 'form-label' %>
    <%= form.text_field :description, :class => 'form-control' %>
</div>

<%= form.label 'Prioridade', :class => 'form-label' %>
<%= form.select :priority, [["Baixa", :baixa], ["Média", :media], ["Alta", :alta]], {}, {class: "form-control"} %>

<br>
<br>

<%= form.label 'Categoria', :class => 'form-label' %>
<%= form.select :category, [["Trabalho", :trabalho], ["Saúde", :saude], ["Família", :familia], ["Estudo", :estudo], ["Outros", :outros]], {}, {class: "form-control"} %>

<br>
<br>

<%= form.label 'Data de Conlusão Prevista para a To Do', :class => 'form-label' %>
<%= form.text_field :date, data:{ provide:'datepicker' }, class: 'date-picker-ano', placeholder: 'dd/mm/yyyy', :format => '' %> 

<br>
<br>

 <h3> Itens </h3>


<div class="row">
 <div id="items">

    <%= form.fields_for :items do |ff| %>

    <%= render 'item_fields', f: ff %>

    <% end %>

      <div class="links">
        <%= link_to_add_association 'Adicionar item', form, :items, :class => 'btn waves-effect waves-light blue right white-text' %>
        <br><br>
      </div>
      <br>
      <br>
  </div>
</div>

<br>
<br>
  
<p>
  <label>
    <%= form.check_box(:completed) %>
     <span style="font-weight: bold;">To Do Finalizada?</span>
  </label>
</p>

<br>
<br>

<%= form.submit "To Do", :class => 'waves-effect waves-light btn-large'%>
<%= link_to "Voltar", tasks_path, :class => 'waves-effect waves-light btn-large' %>

<% end %>

</div>
</div>

<br>
<br>


<script>
$('.date-picker-ano').datepicker({
        autoclose: true,
        language: 'pt-BR',
        format: 'dd/mm/yyyy',
        todayBtn: 'linked',
        enableOnReadonly: true
    });  
</script>


