<%= render 'navbar' %>

<br>
<h5 class="notice" class="alert alert-danger"><%= notice %></h5>
<h5 class="alert"><%= alert %></h5>

<h4>To do List <%= Time.now.strftime("%d/%m/%Y") %> </h4>

  <% unless @tasks.present? %>
      <div class="card border-dark text-center">
        <div class="card-header">
          <strong>To Do List</strong>
       </div>
         <div class="card-body">
            <h2 class="card-title">Não existem to do lists ainda!</h2>
            <br>
       <%= link_to 'Add To do', new_task_path, :class => 'btn btn-success' %>
  
      </div>
  </div>
</div>
  
  <% else %> 

<input class="form-control" id="myInput" type="text" placeholder="Filtrar...">
<br>
<table class="table table-bordered">
  <thead style="background-color: #20c997">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Prioridade</th>
      <th>Data de Conclusão</th>
      <th>Editar To do</th>
      <th>Deletar To do</th>
      <th>Visualizar To do</th>
    </tr>
  </thead>

  <tbody id="myTable">
    <% @tasks.each do |task| %>
    
     <% if task.completed  %>
      
      <tr class="table-secondary">
      <td><%= task.id %></td>
      <td class="striker"><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.priority %></td>
      <td><%= I18n.l(task&.date, format: "%d de %B de %Y") %></td>
      <td><%= link_to 'Editar', edit_task_path(task), :class => "btn waves-effect waves-light" %></td>
      <td><%= link_to 'Remover', task, method: :delete, data: { confirm: 'Tem certeza que deseja apagar a tarefa?' }, :class => 'waves-effect waves-light btn red' %></td>
      <td><%= link_to 'Visualizar', task, action: "show", :class => "btn btn-info" %></td>
      </tr>

     <% else %>

      <tr>
      <td><%= task.id %></td>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.priority %></td>
      <td><%= I18n.l(task.date, format: "%d de %B de %Y", default: '--/--/----') %></td>
      <td><%= link_to 'Editar', edit_task_path(task), :class => "btn btn-info" %></td>
      <td><%= link_to 'Remover', task, method: :delete, data: { confirm: 'Tem certeza que deseja apagar a tarefa?' }, :class => 'waves-effect waves-light btn red' %></td>
      <td><%= link_to 'Visualizar', task, action: "show", :class => "btn btn-info" %></td>
      </tr>

     <% end %>

    <% end %>
  </tbody>
</table>

<br>

 <%= link_to 'Add To do', new_task_path, :class => 'btn btn-success' %>

<% end %>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>



