<%= render 'navbar' %>


<div class="card">
<div class="card-content">
<br>
<br>

<div class="card-body">
<h3> Visualizando To Do <%= @task.name %> </h3>

<br>

<div class="form-control">
  <strong>Descrição:</strong>
  <%= @task.description %>
</div>

<br>

<div class="form-control">
  <strong>Prioridade:</strong>
  <%= @task.priority %>
</div>

<br>

<div class="form-control">
  <strong>Categoria:</strong>
  <%= @task.category %>
</div>

<br>

<div class="form-control">
  <strong>Data de Conclusão da To Do:</strong>
  <%= I18n.l(@task&.date, format: "%d de %B de %Y",  default: '--/--/----')  %>
</div>

</div>
<br>
<br>

<h4>Itens da To Do</h4> 

   <% unless @task.items.present? %>
      <div class="card border-dark text-center">
         <div class="card-body">
            <h2 class="card-title">Nenhum Item foi Adicionado!</h2>
            <br>
      </div>
  </div>

  <% else %>


<div class="card">
<div class="card-content">

<table class="table table-bordered">
   
   <thead style="background-color: #20c997">
    <tr>
      <th>Nome</th>
      <th>Data de Conclusão</th>
      <th>Prioridade</th>
    </tr>  
   </thead>

   <tbody>
   
     <% @task.items.each do |i| %>

     <% if i.completed  %>

    <tr class="table-secondary">
       <td class="striker"><%= i.name %></td>
     <td class="striker"><%= I18n.l(i.date, format: "%d de %B de %Y",  default: '--/--/----') %></td>
       <td class="striker"> <%= i.priority %></td>
    </tr>

    <% else %>
    
    <tr>
       <td><%= i.name %></td>
       <td><%= I18n.l(i.date, format: "%d de %B de %Y",  default: '--/--/----') %></td>
       <td> <%= i.priority %></td>
    </tr>

    <% end %>

    <% end %>

   </tbody> 
</table>

</div>
</div>

<% end %>

<h4>Anexos</h4> 

<div class="card">
<div class="card-content">

<% unless @task.image.present? %>
      <div class="card border-dark text-center">
         <div class="card-body">
            <h2 class="card-title">Nenhum Anexo foi Adicionado!</h2>
            <br>
      </div>
  </div>

  <% else %>

    <img src="<%= @task.image %>">

  <% end %>    

</div>
</div>

<br>
<br>

<%= link_to 'Editar', edit_task_path(@task), :class => "btn btn-primary" %> |
<%= link_to 'Voltar', tasks_path, :class => "btn btn-primary", :id => 'show_back'%>

<br>
<br>

</div>
</div>