<%= render 'navbar' %>

<br>
<br>

<div class="form-control">
  <strong>Nome:</strong>
  <%= @task.name %>
</div>


<br>
<br>

<div class="form-control">
  <strong>Descrição:</strong>
  <%= @task.description %>
</div>

<br>
<br>

<div class="form-control">
  <strong>Prioridade:</strong>
  <%= @task.priority %>
</div>

<br>
<br>

<%= link_to 'Editar', edit_task_path(@task), :class => "btn btn-primary" %> |
<%= link_to 'Voltar', tasks_path, :class => "btn btn-primary"%>
