<%= render 'navbar' %>

<br>
<br>

<h3> Visualizando To Do <%= @task.name %> </h3>


<br>
<br>

<div class="form-control">
  <strong>Descrição:</strong>
  <%= @task.description %>
</div>

<br>
<br>

<div class="form-control">
  <p>Items:</p>
    <% @task.items.each do |i| %>
    <ul>
      <li> <%= i.name %> </li>
    </ul>

<% end %>

</div>

  <br>
  <br>

<div class="form-control">
  <strong>Prioridade:</strong>
  <%= @task.priority %>
</div>

<br>
<br>

<%= link_to 'Editar', edit_task_path(@task), :class => "btn btn-primary" %> |
<%= link_to 'Voltar', tasks_path, :class => "btn btn-primary"%>

<br>
<br>