<%= render 'navbar' %>

<br>

<h5 class="notice" class="alert alert-danger"><%= notice %></h5>
<h5 class="alert"><%= alert %></h5>

<div class="container mt-5 mb-5 d-flex justify-content-center">
 <div class="card px-1 py-4">
   <div class="card-body">
    <h6 class="card-title mb-3">Log in</h6>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-sm-12">
          <div class="form-group">
           <%= f.email_field :email, placeholder: 'email' %>
          </div> 
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
            <%= f.password_field :password, placeholder: 'senha' %>
        </div>  
      </div>      
    </div>

    <br>
             <% if devise_mapping.rememberable? %>             
                     <p>
                       <label>
                         <%= f.check_box(:remember_me) %>
                           <span>Lembrar-me?</span>
                       </label>
                     </p>         
              <% end %>

    <%= f.submit "Log in", :class => 'btn btn-primary' %>
  
    <%= link_to 'Sign in', new_user_registration_path, :class => "btn btn-primary" %>
   
     <br>
     <br>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Esqueceu sua senha?", new_password_path(resource_name), :class => "btn btn-primary" %><br />
    <% end %>
  
  <% end %>
  </div>  
 </div>
</div>

